@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

*{
    box-sizing: border-box;
        font-family: "Playwrite DE Grund", cursive;
        font-optical-sizing: auto;
        font-style: normal;
}

.navbar{
    background-color: #A79277;
}

#home {
    height: 58vh;
}

.flex{
    display: flex;
    justify-content: space-evenly;
    margin-top: 17vw;
}

.first{
    width: 70vw;
    text-align: center;
}

.card{
    width: 40vw !important;
}

.row{
    display: flex;
}